/*https://www.youtube.com/watch?v=JbXLkhIfSTQ*/
/*https://github.com/OwlCarousel2/OwlCarousel2/tree/develop/docs/assets/owlcarousel*/
.male>p:before{
position: absolute;
content: url(./../img/male.png);
left:0;
}
.female>p:before{
position: absolute;
content: url(./../img/female.png);
left:0;
}
.family>p:before{
position: absolute;
content: url(./../img/family.png);
left:0;
}
.time>p:before{
position: absolute;
content: url(./../img/time.png);
left:0;
}

/*add consult-section*/
.consult li{
  padding:2em 0 0 2em;
}
.consult li:before{
  content: attr(value) ".";
  position: absolute;
  left:0;
  color: red;
  font-weight: bold;

}
/*update consult-section,add report-section*/
.consult-bg{
  background-image: url(./../img/consult.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/*update report-seciton,add sponsors-section*/

div#reports > div.owl-nav >button.owl-prev,
div#reports > div.owl-nav >button.owl-next,
div#sponsors > div.owl-nav >button.owl-prev,
div#sponsors > div.owl-nav >button.owl-next
 {
        width: 5em;
        height: 100%;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        display: block !important;
        border:0px solid black;
    }

div#reports > div.owl-nav >button.owl-prev,
div#sponsors > div.owl-nav >button.owl-prev
{ left: -5em; }

div#reports > div.owl-nav >button.owl-next,
div#sponsors > div.owl-nav >button.owl-next
 { right: -5em; }

div#reports > div.owl-nav >button.owl-prev i,
div#reports > div.owl-nav >button.owl-next i,
div#sponsors > div.owl-nav >button.owl-prev i,
div#sponsors > div.owl-nav >button.owl-next i
{ color: black;font-weight: bold;font-size: 2em;}

div#reports > div.owl-nav >button:hover,
div#sponsors > div.owl-nav >button:hover
{
  background: transparent !important;
}
#sponsors div.card-body >div{
  position:absolute;
  display:none;
  height: 100%;
  top:0;
  opacity:0.8;


}
#sponsors div.card-body:hover >div{
display: block;
}
